<ul>
  <li><a href="{{site.baseurl}}/sg-home.html">Style Guide Home</a></li>  
  <li><a href="{{site.baseurl}}/sg-typography.html">Typography</a></li>
  <li><a href="{{site.baseurl}}/sg-breakpoints.html">Breakpoints</a></li>
  <li><a href="{{site.baseurl}}/sg-header.html">Header</a></li>
  <li><a href="{{site.baseurl}}/sg-footer.html">Footer</a></li>
  <li><a href="{{site.baseurl}}/sg-links-buttons.html">Links and Buttons</a></li>
  <li><a href="{{site.baseurl}}/sg-colours.html">Colours</a></li>
</ul>