/* In the future this file will be a copy of the real variable file used across the bga sites */

/** COLOURS **/
/****************************/

$bga-primary-color: #254F90;

$bga-secondary-color: #E5B13D;

$bga-topic-color-plan: #339585;

$bga-topic-color-run: #254F90;

$bga-topic-color-exit: #C62C2A;

$bga-topic-color-events: #212A4C;

$bga-topic-color-grants: #3D2B97;

$bga-topic-color-advisory: #A42079;