---
layout: fullwidth
---
<script type="text/javascript" src="{{site.baseurl}}/scripts/summary.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/scripts/jquery.collapse-help-me-decide.js"></script>
	<h1 id="heading" tabindex="-1">MPAA summary</h1>
	<p class="meter-description"><strong>Step <span id="stepNo">6</span>:</strong> <span id="percentCompleted">100</span>% complete</p>
	<div class="meter">
		<span id="percentMeter" style="width: 100%;"></span>
	</div><!-- meter -->
	<div id="questions"><p><strong>Based on your answers,</strong> you should consider the following conditions.</p>
	<table class="results-table custom-controls" id="resultTable">
		<caption class="visuallyhidden">Registration results</caption>
		<thead>
			<tr>
				<th style="width: 5%"></th>
				<th style="width: 60%" class="registration-type">Information</th>
				<th style="width: 30%" class="cost">pdf</th>
				<th style="width: 5%">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for item in page.contentitems %}
			<tr>
				<td valign="top" class="registration-type">
					<p>
						<input id="cb{{item['id']}}" type="checkbox" checked="checked">
						<label for="cb{{item['id']}}"></label>
					</p>
				</td>
				<td valign="top">{{item['summary']}}</td>
				<td valign="top">
				{% if item['pdf'] != "" %}
					<p><a href="{{site.baseurl}}/pdfs/{{item['pdf']}}">MPAA Fact Sheet: {{item['pdfDescription']}}</a></p>
				{% endif %}
				</td>
				<td valign="top" class="help">
				{% if item['helpContent'] != "" %}
					<p><a href="#help-anchor{{item['id']}}" class="cd-btn help"><span>help</span></a></p>
				{% endif %}	
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

<h2>What you need to know</h2>
<ul>
    <li><strong>If you’re not sure about the answers you’ve given,</strong> it’s a good idea to chat to your financial advisor or <a href="http://www.ato.gov.au/About-ATO/About-us/Contact-us/" class="external-link" target="_blank">contact the Australian Taxation Office (ATO)</a>, who can take into account your complete situation.</li>
    <li>We’ve covered the basic business and tax registrations. We’ll ask for more information about your business when you apply, which will help us work out if your business should consider other registrations.</li>
    <li>Remember - registering your business name doesn't stop other businesses from using it for their products or services. To stop others from using your business name, you need to <a href="https://www.ipaustralia.gov.au/trade-marks/applying-for-a-trade-mark/how-to-apply-for-a-trade-mark">apply for a trade mark</a>.<p></p>
</li></ul>
<h2>Ready to apply?</h2>
<p>Make sure the registrations you want are ticked before you start applying.</p>

</div>

<div class="controls-container">
	<div class="controls-content">
		<button type="button" id="previous" class="btn">Previous</button>
		<button type="button" id="next" class="btn btn-default">Start applying</button>
	</div><!-- controls-content -->
</div>

 <div class="help" id="help">
	<div class="cd-panel from-right">
		<div class="cd-panel-header">
			<a href="#" class="cd-panel-close">Close</a>
			<h2 id="helpTopic">Help topics</h2>
			<p class="cd-panel-print"><a href="#" id="aPrint" onclick="printHelp(); return false;">Print</a></p>
		</div>
		<div class="cd-panel-container">
			<div class="cd-panel-content">
				<div id="helpFile" class="showhide">
				{% for item in page.contentitems %}
					<input type="hidden" class="help-anchor" id="help-anchor{{item['id']}}" />
					<h3>{{item['helpTitle']}}</h3>
					<div>{{item['helpContent']}}</div>
				{% endfor %}
				</div><!-- showhide -->
			</div><!-- cd-panel-content -->
		</div><!-- cd-panel-container -->
	</div><!-- cd-panel -->
  </div>
