---
layout: fullwidth
---

<div class="small-12 columns">
  <h1>BGA Style Guide</h1>
  <p>The purpose of this document is to provide information and guideance on various styling aspects to be used consistantly across business.gov.au and its related websites.</p>
  <h2>Scope</h2>
  <p>The following sites use all or parts of this style guide:</p>
  <ul>
    <li>Business.gov.au</li>
    <li>Business or hobby tool</li>
    <li>Country of Origin Labelling (CoOL)</li>
    <li>ABLIS</li>
    <li>SOBRS</li>
  </ul>
  <h2>The style guide</h2>
  <p><a href="{{site.baseurl}}/sg-home.html">Click here to access the style guide</a></p>
  <h2>Latest Major Changes</h2>
  <p>For a more complete history, view the git history</p>
  <table>
    <thead>
      <th style="width: 12.5%">Date</th>
      <th>Change</th>
    </thead>
    <tbody>
      <td>27/10/16</td>
      <td>Initial creation of document</td>
    </tbody>
  </table>
</div>
