---
layout: fullwidth
---

<div class="small-12 columns">
	<h1>Business registration - help me decide</h1>
	<div class="grid-row clearfix">
		<div class="col7">
			<p>Are you <strong>starting a business</strong>, or thinking about starting one?</p>
			<p>This tool can help you work out:</p>
			<ul>
				<li>the <strong>business structure</strong> that will best suit your needs</li>
				<li>the <strong>basic business and tax registrations</strong> you should consider applying for.</li>
			</ul>
			<p>While we make every effort to ensure that this tool is accurate and up to date, it can’t possibly take all your circumstances into account – so please treat it as a guide only.</p>
			<p>Before you make any decisions based on the information in this tool, consider seeking independent professional advice as we can’t guarantee or accept legal liability as a result of using this tool.</p>
		</div>
	</div>
	<p><button type="button" class="btn btn-default" onclick="window.location = 'registration-discovery.html'">Ok, let's go</button></p>
</div>
