---
layout: default
---
<script type="text/javascript" src="{{site.baseurl}}/scripts/track.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/scripts/jquery.collapse-help-me-decide.js"></script>
<script>
	var pageID = {{ page.id }};
	var next = "{{ page.next }}";
</script>
<div class="row">
  <h2>{{ page.title }}</h2>
  {% for question in page.questions %}
  <div class="grid-row grid-row-block">
	<fieldset class="no-margin">
		<legend class="col6">{{ question['question'] }}</legend>
		<div class="radio-toggle col5">
			{% for ans in question.answers %}
				<label class="label{% if forloop.first %}-left{% elsif forloop.last %}-right{% else %}-middle{% endif %}" for="answer{{question['id']}}-{{ans | downcase | replace: " ", "-" }}">
					<input id="answer{{question['id']}}-{{ans | downcase | replace: " ", "-" }}" type="radio" value="{{ans}}" name="answer{{question['id']}}">
					<span>{{ans}}</span>
				</label>
			{% endfor %}
		</div>
		{% if question.content['helpContent'] != "" %}
		<div class="col1 last">
			<a href="#help-anchor-{{question['id']}}" id="helplink-{{question['id']}}" class="cd-btn help"><span>help</span></a>
		</div>
		{% endif %}
	</fieldset>
  {% if question.content != "" %}
  <div id="summary-{{question['id']}}" class="grid-row" style="display: none;">
	<div class="registration-tip">
		{{ question.content['summary'] }}
		{% if question.content['pdf'] != "" %}
			<p>For more information, see the <a href="{{site.baseurl}}/pdf/{{question.content['pdf']}}">{{question.content['pdfDescription']}}</a>.</p>
		{% endif %}
	</div>
  </div>
  {% endif %}
  </div>

  {% endfor %}
	<div class="controls-container">
		<div class="controls-content">
			<button type="button" class="btn btn-default" id="btnContinue" onclick="goNext();" disabled>Next</button>
		</div><!-- controls-content -->
	</div>
  {% if page.helpContent != "" %}
  <div class="help" id="help">
	<div class="cd-panel from-right">
		<div class="cd-panel-header">
			<a href="#" class="cd-panel-close">Close</a>
			<h2 id="helpTopic">Help topics</h2>
			<p class="cd-panel-print"><a href="#" id="aPrint" onclick="printHelp(); return false;">Print</a></p>
		</div>
		<div class="cd-panel-container">
			<div class="cd-panel-content">
				<div id="helpFile" class="showhide">
				{% for question in page.questions %}
					<input type="hidden" class="help-anchor" id="help-anchor-{{question['id']}}" />
					<h3>{{question.content['helpTitle']}}</h3>
					<div>{{question.content['helpContent']}}</div>
				{% endfor %}
				</div><!-- showhide -->
			</div><!-- cd-panel-content -->
		</div><!-- cd-panel-container -->
	</div><!-- cd-panel -->
  </div>
  {% endif %}
</div>