---
layout: default
---
<div class="row">
  <h2>{{ page.title }}</h2>
  <div class="grid-row">
	<div class="col12 last">
		<fieldset>
			<legend>{{ page.question }}</legend>
			<div class="radio-toggle col11">
				<label class="label-left" for="answer-yes">
					<input id="answer-yes" type="radio" value="336" name="answer">
					<span>Yes</span>
				</label>
				<label class="label-right" for="answer-no">
					<input id="answer-no" type="radio" value="337" name="answer">
					<span>No </span>
				</label>
			</div>
		</fieldset>
	</div>
	<div class="controls-container">
		<div class="controls-content">
			<button type="button" class="btn btn-default" id="btnContinue" onclick="location.href='{{ page.next }}'">Next</button>
		</div><!-- controls-content -->
	</div>
</div>
